body.home {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
/*Landing/Home Page Descripion*/
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
}
.home_description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.home_description h1 {
	color: #806BC3;
}
.home_description p {
	color: #F4F1FE;
	font-size: 1.3rem;
	line-height: 1.5;
  max-width: 550px;
}
.home_description button {
    border:1px solid #A2A4A6;
    background:#A2A4A6;
    border-radius: 0;
    color:#F4F1FE;

}
.home_description button:hover {
	border:1px solid #fff;
    background:#F4F1FE;
    color:#806BC3;
}
a{
  color: #806BC3;
}
a:hover{
  color:#806BC3;
}

/*Landing/Home Page Columns*/
.features {
	margin: 2em auto;
	padding: 1em;
	position: relative;
  text-align: center;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
  text-align: center;
}



/*About Page*/
/*Contact Page*/
/*Portfolio Page*/
