body.portfolio {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.slide {
  left: 50%;
  position: absolute;
	top: 35%;
	transform: translate(-50%, -55%);
  width: 500px;
  height: 500px;
}

.carousel-item img{
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/*About Page*/
/*Contact Page*/
/*Portfolio Page*/
